# Übungsaufgabe Imputation

Siehe auch:

- [df.fillna](../../Zentral_Ordner/Funktionen_und_Methoden/df.fillna.ipynb)
- [sklearn.impute SimpleImputer](../../Zentral_Ordner/Funktionen_und_Methoden/sklearn.SimpleImputer.ipynb)

### Aufgabe:

Wann sollte man mit mean, median oder mode imputieren?

Bitte jeweils ein Beispiel!

In [17]:
# Beispiel-Daten
data = {'height': [160, 170, None, 180, 165]}
df = pd.DataFrame(data)

In [18]:
data = {'income': [20000, 30000, None, 40000, 1000000]}  # Ausreißer bei 1.000.000
df = pd.DataFrame(data)

In [19]:
data = {'car_type': ['Sedan', 'SUV', None, 'Sedan', 'Sedan']}
df = pd.DataFrame(data)

## Lösung

### Mittels Pandas

1. Mean Imputation (Mittelwert-Imputation)

In [9]:
import pandas as pd

In [ ]:
# Beispiel-Daten
data = {'height': [160, 170, None, 180, 165]}
df = pd.DataFrame(data)

# Mittelwert-Imputation
df['height'] = df['height'].fillna(df['height'].mean())

df

   height
0  160.00
1  170.00
2  168.75
3  180.00
4  165.00

2. Median Imputation (Median-Imputation)

In [4]:
# Beispiel-Daten
data = {'income': [20000, 30000, None, 40000, 1000000]}  # Ausreißer bei 1.000.000
df = pd.DataFrame(data)

# Median-Imputation
df['income'] = df['income'].fillna(df['income'].median())
df

      income
0    20000.0
1    30000.0
2    35000.0
3    40000.0
4  1000000.0

3. Mode Imputation (Modus-Imputation)

In [3]:
# Beispiel-Daten
data = {'car_type': ['Sedan', 'SUV', None, 'Sedan', 'Sedan']}
df = pd.DataFrame(data)

# Modus-Imputation
df['car_type'] = df['car_type'].fillna(df['car_type'].mode()[0])
df

  car_type
0    Sedan
1      SUV
2    Sedan
3    Sedan
4    Sedan

Zusammenfassung:

Mean: Für symmetrisch verteilte numerische Daten ohne Ausreißer.

Median: Für schief verteilte numerische Daten mit Ausreißern.

Mode: Für kategoriale Daten oder numerische Daten mit einem häufigen Wert.

### Mittels SciKit-Learn

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

1. Mean Imputation (Mittelwert-Imputation)

In [7]:
# Beispiel-Daten
data = {'height': [160, 170, None, 180, 165]}
df = pd.DataFrame(data)

# Imputation (Mittelwert)
imputer = SimpleImputer(strategy='mean')   # Strategie auswählen

# Mittelwert-Imputation
df['height'] = imputer.fit_transform(df[['height']])

df

   height
0  160.00
1  170.00
2  168.75
3  180.00
4  165.00

2. Median Imputation (Median-Imputation)

In [4]:
# Beispiel-Daten
data = {'income': [20000, 30000, None, 40000, 1000000]}  # Ausreißer bei 1.000.000
df = pd.DataFrame(data)

# Imputation (Mittelwert)
imputer = SimpleImputer(strategy='median')   # Strategie auswählen

# Mittelwert-Imputation
df['income'] = imputer.fit_transform(df[['income']])

df

      income
0    20000.0
1    30000.0
2    35000.0
3    40000.0
4  1000000.0

3. Mode Imputation (Modus-Imputation)

In [11]:
# Beispiel-Daten
data = {'car_type': ['Sedan', 'SUV', None, 'Sedan', 'Sedan']}
df = pd.DataFrame(data)

# Imputation (Mittelwert)
imputer = SimpleImputer(strategy='most_frequent')   # Strategie auswählen

# Mittelwert-Imputation
df['car_type'] = imputer.fit_transform(df[['car_type']])

df

ValueError: 2

Doc's: https://scikit-learn.org/1.5/modules/impute.html

In [16]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

# Beispieldaten
data = {'car_type': ['Sedan', 'SUV', None, 'Sedan', 'Sedan']}
df = pd.DataFrame(data)

# Ersetze None durch NaN
df['car_type'] = df['car_type'].replace([None], np.nan)

# Imputation (häufigster Wert)
imputer = SimpleImputer(strategy='most_frequent')

# Fehlende Werte imputieren und das Ergebnis in 1D umwandeln
df['car_type'] = imputer.fit_transform(df[['car_type']]).ravel()

df

  car_type
0    Sedan
1      SUV
2    Sedan
3    Sedan
4    Sedan

'None' als kategorische Daten kennt Pandas oder Imputer nicht. Deswegen müssen 'None' als 'NaN' oder np.nan' ersetzt werden.