Siehe auch: [df.loc()](df.loc.ipynb)

# df.iloc()

Pandas bietet leistungsstarke Indexierungsmethoden wie **.iloc** (integer-basiert) und **.loc** (label-basiert), um Daten präzise abzurufen.

### Verwenden von .iloc

- `.iloc[]` wird verwendet, um Daten anhand ihrer numerischen Position abzurufen.
- Syntax: `DataFrame.iloc[Zeilenindex, Spaltenindex]`

### Beispiel: Verwende .iloc, um bestimmte Daten abzurufen

In [6]:
import numpy as np
import pandas as pd

# Erstelle einen DataFrame
data = {'Name': ['Anna', 'Ben', 'Chris'],
        'Alter': [23, 30, 35], 
        'Stadt': ['Berlin', 'Hamburg', 'München']
       }

df = pd.DataFrame(data)
df

# Verwende .iloc, um den Wert der ersten Zeile, zweiten Spalte zu erhalten
df.iloc[0, 1]  # Alter von Anna

np.int64(23)

## Daten lokalisieren und manipulieren

Mit `.iloc` und `.loc` kannst du Daten präzise lokalisieren, abrufen und manipulieren.

### Beispiel: Ändere den Wert einer bestimmten Zelle

In [8]:
# Ändere das Alter von Anna auf 31
df.iloc[0, 1] = 31
df

    Name  Alter    Stadt
0   Anna     31   Berlin
1    Ben     30  Hamburg
2  Chris     35  München

In [10]:
# Ändere das Stadt von Chris auf Nürnberg
df.iloc[2, 2] = 'Nürnberg'
df

    Name  Alter     Stadt
0   Anna     31    Berlin
1    Ben     30   Hamburg
2  Chris     35  Nürnberg