Siehe auch: [pd.Series()](pd.Series.ipynb)

# pd.DataFrame()

## Was ist ein DataFrame?

Ein **DataFrame** ist eine zweidimensionale, tabellenartige Datenstruktur. Er besteht aus mehreren Series, die Spalten des DataFrames bilden.

### Beispiel: Einen DataFrame erstellen

In [7]:
import numpy as np
import pandas as pd

# Erstelle einen DataFrame
data = {'Name': ['Anna', 'Ben', 'Chris'],
        'Alter': [23, 30, 35], 
        'Stadt': ['Berlin', 'Hamburg', 'München']
       }

df = pd.DataFrame(data)
df

    Name  Alter    Stadt
0   Anna     23   Berlin
1    Ben     30  Hamburg
2  Chris     35  München

### Beziehung zwischen Series und DataFrame

- Jede Spalte in einem DataFrame ist eine Series.
- Ein DataFrame ist also eine Sammlung von Series, die zusammen eine Tabelle bilden.

Du kannst eine Spalte eines DataFrames einfach als Series extrahieren.

In [5]:
# Extrahiere die 'Name'-Spalte als Series
df['Name']

0     Anna
1      Ben
2    Chris
Name: Name, dtype: object