# df.drop()

Ganz kurz und einfach gesagt: `df.drop()` schmeißt die ausgewählte Spalte aus dem DataFrame.

Die Methode **`df.drop()`** in der **`pandas`**-Bibliothek wird verwendet, um Zeilen oder Spalten aus einem DataFrame zu entfernen. Hier ist eine detaillierte Erklärung, wie sie funktioniert:

### Syntax

```python
df.drop(labels, axis=0, inplace=False)
```

### Parameter

In [7]:
# df.drop?

```python
Signature:
df.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
```

1. **`labels`**:
   - Dies sind die **Bezeichnungen** (z.B. die Namen von Spalten oder den Index von Zeilen), die du entfernen möchtest. Du kannst eine einzelne Bezeichnung oder eine Liste von Bezeichnungen angeben.

<br>

2. **`axis`**:
   - Gibt an, ob Zeilen oder Spalten entfernt werden sollen.
   - **`axis=0`**: Entfernt **Zeilen** (Standardwert).
   - **`axis=1`**: Entfernt **Spalten**.

<br>

3. **`inplace`**:
   - Ein boolescher Wert, der angibt, ob die Änderungen am DataFrame direkt vorgenommen werden sollen.
   - **`True`**: Die Änderungen werden direkt im Original-DataFrame vorgenommen (keine Rückgabe).
   - **`False`**: Eine neue Kopie des DataFrames wird mit den Änderungen zurückgegeben (Standardwert).

<br>

4. **`columns`**:
   - Gibt die spezifischen Spalten an, die aus dem DataFrame entfernt werden sollen.

### Beispiel

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Alter': [25, 30, 35],
    'Stadt': ['Berlin', 'München', 'Hamburg']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Alter    Stadt
0    Alice     25   Berlin
1      Bob     30  München
2  Charlie     35  Hamburg

### Zeilen entfernen

Wenn du `df.drop()` als Argument einen Integer übergibst, z.B. 1, interpretiert pandas die 1 automatisch als den Index der Zeile, die entfernt werden soll. In diesem Fall Bob.

In [9]:
df_dropped = df.drop(1)
print("\nDataFrame nach dem Entfernen der Zeile mit Index 1:")
print(df_dropped)

DataFrame nach dem Entfernen der Zeile mit Index 1:
      Name  Alter    Stadt
0    Alice     25   Berlin
2  Charlie     35  Hamburg

### Spalten entfernen

Um die Spalte **`'Alter'`** zu entfernen:

```python

In [10]:
df_dropped_col = df.drop('Alter', axis=1)
print("\nDataFrame nach dem Entfernen der Spalte 'Alter':")
print(df_dropped_col)

DataFrame nach dem Entfernen der Spalte 'Alter':
      Name    Stadt
0    Alice   Berlin
1      Bob  München
2  Charlie  Hamburg

### Inplace-Änderungen

Wenn du den DataFrame direkt ändern möchtest, kannst du `inplace=True` verwenden:

In [11]:
df.drop('Stadt', axis=1, inplace=True)
print("\nDataFrame nach dem Entfernen der Spalte 'Stadt' (inplace):")
print(df)

DataFrame nach dem Entfernen der Spalte 'Stadt' (inplace):
      Name  Alter
0    Alice     25
1      Bob     30
2  Charlie     35

In diesem Fall wurde der Original-DataFrame **`df`** direkt geändert, und die Spalte **`'Stadt'`** wurde entfernt.

### Zusammenfassung

- **`df.drop()`** wird verwendet, um Zeilen oder Spalten aus einem DataFrame zu entfernen.
- Du kannst die zu entfernenden Bezeichnungen, den Typ (Zeile oder Spalte) und die Art der Änderung (inplace oder nicht) angeben.