# df.max()

`df.max()` ist eine Methode in **Pandas**, die den **maximalen Wert** für jede Spalte (oder Zeile) eines DataFrames zurückgibt. 

### Verwendung
- **`df.max()`** gibt die maximalen Werte jeder Spalte zurück.
- **`df.max(axis=1)`** gibt die maximalen Werte jeder Zeile zurück.

### Parameter
- **`axis=0`** (Standard): Berechnet das Maximum pro Spalte.
- **`axis=1`**: Berechnet das Maximum pro Zeile.
- **`numeric_only=True`**: Berechnet nur numerische Spalten (nur, wenn sie gemischt mit nicht-numerischen Spalten sind).

### Beispiel

Angenommen, wir haben folgenden DataFrame `df`:

In [4]:
import pandas as pd

data = {
    'A': [3, 7, 2],
    'B': [8, 6, 1],
    'C': [5, 4, 9]
}

df = pd.DataFrame(data)
df

   A  B  C
0  3  8  5
1  7  6  4
2  2  1  9

#### Spaltenweise Maximum

In [2]:
df.max()

A    7
B    8
C    9
dtype: int64

Hier gibt `df.max()` das Maximum für jede Spalte zurück (`A=7`, `B=8`, `C=9`).

#### Zeilenweise Maximum

In [5]:
df.max(axis=1)

0    8
1    7
2    9
dtype: int64

Hier gibt `df.max(axis=1)` das Maximum für jede Zeile zurück (`Zeile 0=8`, `Zeile 1=7`, `Zeile 2=9`).

### Fazit

Mit `df.max()` kannst du also schnell die größten Werte einer Tabelle finden, entweder spaltenweise (Standard) oder zeilenweise (mit `axis=1`).