# df.pivot_table()

`pivot_table()` in Pandas ist eine leistungsstarke Methode, um Daten zusammenzufassen und zu aggregieren. Sie ähnelt [df.pivot()](df.pivot.ipynb), bietet aber zusätzliche Flexibilität, indem sie es erlaubt, [Aggregationsfunktionen](Aggregationsfunktionen.ipynb) anzuwenden, wenn mehrere Werte für eine Kombination aus Zeilen- und Spaltenindizes vorliegen. Dies ist besonders nützlich, wenn man mit großen Datenmengen arbeitet und statistische oder mathematische Berechnungen für Gruppen von Daten durchführen möchte.

### Syntax

```python
df.pivot_table(index='index_spalte', columns='spalte_mit_splatennamen', values='werte_spalte', aggfunc='sum')
```

- **`index`**: Die Spalte, die als Zeilenindex verwendet wird.
- **`columns`**: Die Spalte, die die neuen Spaltennamen bestimmt.
- **`values`**: Die Spalte, deren Werte aggregiert werden.
- **`aggfunc`**: Die Aggregationsfunktion, die auf die Daten angewendet wird (z. B. `sum`, `mean`, `min`, `max`, `count`, etc.).

### Beispiel

Angenommen, wir haben einen DataFrame, der Verkaufsdaten für verschiedene Produkte und Monate sowie deren Umsatz enthält:

In [2]:
import pandas as pd

# Beispiel-DataFrame
df = pd.DataFrame({
    'Produkt': ['Apfel', 'Apfel', 'Banane', 'Banane', 'Orange', 'Orange', 'Apfel', 'Banane'],
    'Monat': ['Januar', 'Februar', 'Januar', 'Februar', 'Januar', 'Februar', 'Januar', 'Februar'],
    'Umsatz': [100, 150, 200, 250, 300, 350, 50, 100]
})

print("Ursprünglicher DataFrame:")
print(df)

Ursprünglicher DataFrame:
  Produkt    Monat  Umsatz
0   Apfel   Januar     100
1   Apfel  Februar     150
2  Banane   Januar     200
3  Banane  Februar     250
4  Orange   Januar     300
5  Orange  Februar     350
6   Apfel   Januar      50
7  Banane  Februar     100

### Anwendung von `pivot_table`

Nun verwenden wir `pivot_table()`, um den durchschnittlichen Umsatz pro Produkt und Monat zu berechnen:

In [3]:
# Pivot Table mit Mittelwert (mean) als Aggregationsfunktion
pivot_df = df.pivot_table(index='Produkt', columns='Monat', values='Umsatz', aggfunc='mean')
print("\nPivot Table mit durchschnittlichem Umsatz:")
print(pivot_df)

Pivot Table mit durchschnittlichem Umsatz:
Monat    Februar  Januar
Produkt
Apfel      150.0    75.0
Banane     175.0   200.0
Orange     350.0   300.0

### Erklärung der Ausgabe

- **`index='Produkt'`**: Die `Produkt`-Spalte wird zur Zeilenbeschriftung.
- **`columns='Monat'`**: Die `Monat`-Spalte wird zu den neuen Spaltennamen.
- **`values='Umsatz'`**: Die `Umsatz`-Werte werden aggregiert.
- **`aggfunc='mean'`**: Die Aggregationsfunktion `mean` berechnet den durchschnittlichen Umsatz für jede Kombination aus `Produkt` und `Monat`.

### Wichtige Parameter

- **`aggfunc`**: Bestimmt die Funktion, die auf die Werte angewendet wird (z. B. `sum`, `mean`, `count`). Man kann auch mehrere Aggregationen gleichzeitig anwenden, z. B. `aggfunc=['sum', 'mean']`.
- **`fill_value`**: Setzt einen Wert für leere Felder, falls bestimmte Kombinationen von `index` und `columns` fehlen.
- **`margins=True`**: Fügt eine Gesamtsumme für jede Zeile und Spalte hinzu.

### Beispiel mit mehreren Aggregationen

Falls du z. B. den Gesamtumsatz und die Anzahl der Verkäufe pro Produkt berechnen möchtest:

In [4]:
pivot_df_multi = df.pivot_table(index='Produkt', columns='Monat', values='Umsatz', aggfunc=['sum', 'count'])
print("\nPivot Table mit Summe und Anzahl der Verkäufe:")
print(pivot_df_multi)

Pivot Table mit Summe und Anzahl der Verkäufe:
            sum          count
Monat   Februar Januar Februar Januar
Produkt
Apfel       150    150       1      2
Banane      350    200       2      1
Orange      350    300       1      1

Hier haben wir sowohl die Summe als auch die Anzahl der Verkäufe für jede Kombination von Produkt und Monat.

### Zusammenfassung

- **`pivot_table()`** ist ideal, um Daten zu aggregieren und Zusammenfassungen zu erstellen.
- Mit **`aggfunc`** kannst du verschiedene Aggregationen (z. B. `sum`, `mean`) anwenden.
- Zusätzliche Parameter wie **`fill_value`** und **`margins`** bieten erweiterte Kontrolle und Flexibilität.