# pd.concat()

`pd.concat()` ist eine Pandas-Funktion, die mehrere DataFrames kombiniert, indem sie eine Liste von DataFrames als Eingabe akzeptiert und einen neuen, zusammengefügten DataFrame zurückgibt. Da sie unabhängig von einem bestimmten DataFrame arbeitet, wird sie direkt auf `pd` angewandt, nicht auf ein einzelnes DataFrame-Objekt. Sie „konkateniert“ sozusagen eine oder mehrere Zeilen unter die vorhandenen Daten.

In [5]:
import pandas as pd

df1 = pd.DataFrame({
    'Vorname': ['Anna', 'Ben', 'Clara', 'Elias'],
    'Nachname': ['Müller', 'Schmidt', 'Fischer', 'Klein'],
    'Alter': [28, 34, 29, 40],
    'Einkommen': [45000, 55000, 47000, 60000]
})

df2 = pd.DataFrame({'Vorname': ['David'], 'Nachname': ['Weber'], 'Alter': [35], 'Einkommen': [45000]})
concat_df = pd.concat([df1, df2], ignore_index=True)
concat_df

  Vorname Nachname  Alter  Einkommen
0    Anna   Müller     28      45000
1     Ben  Schmidt     34      55000
2   Clara  Fischer     29      47000
3   Elias    Klein     40      60000
4   David    Weber     35      45000

Hier wird `pd.concat()` aufgerufen, um den bereits existierenden DataFrame `df1` mit dem neuen DataFrame `df2` zu verbinden.

   - **`pd.concat([df1, df2])`**: Dies kombiniert die beiden DataFrames zeilenweise, also **untereinander**.
   - **`ignore_index=True`**: Dieser Parameter sorgt dafür, dass die Indexnummerierung neu erstellt wird. Ansonsten würde der Index von `df2` möglicherweise nicht in die Reihenfolge des `concat_df` passen.