# Ãœbungsaugfgaben

### Aufgabe 1.

In [1]:
import pandas as pd

In [2]:
employee_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol'],
    'Skill': ['Python', 'Java', 'Python'],
    'Experience': [3, 4, 5]
})

You want to reshape this DataFrame to show the sum of Experience for each Skill. Which code snippet will accomplish this?

#### 1.

In [3]:
employee_data.pivot(index='Skill', columns='Experience', values='Experience').sum(axis=1)

Skill
Java      4.0
Python    8.0
dtype: float64

#### 2.

In [4]:
employee_data.melt(id_vars=['Skill'], value_vars=['Experience']).groupby('Skill').sum()

                    variable  value
Skill
Java              Experience      4
Python  ExperienceExperience      8

#### 3.

In [5]:
employee_data.set_index(['Name', 'Skill']).unstack().fillna(0)

      Experience
Skill       Java Python
Name
Alice        0.0    3.0
Bob          4.0    0.0
Carol        0.0    5.0

#### 4.

In [6]:
employee_data.groupby('Skill').Experience.sum()

Skill
Java      4
Python    8
Name: Experience, dtype: int64