# Pivot-Tabelle

In [1]:
import pandas as pd

# Beispiel-Datensatz
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Alter': [23, 35, 45, 28, 22],
        'Gehalt': [70000, 120000, 90000, 80000, 60000],
        'Abteilung': ['HR', 'IT', 'IT', 'Marketing', 'HR']}

df = pd.DataFrame(data)

# Subsetting: Nur bestimmte Spalten anzeigen
df_subset = df[['Name', 'Gehalt']]
df_subset

      Name  Gehalt
0    Alice   70000
1      Bob  120000
2  Charlie   90000
3    David   80000
4      Eva   60000

Eine Pivottabelle ist ein leistungsfähiges Werkzeug zur Datenanalyse und -zusammenfassung, das häufig in Tabellenkalkulationsprogrammen wie Excel oder in Bibliotheken wie Pandas verwendet wird. Mit einer Pivottabelle kann man große Datensätze strukturieren und verdichten, indem man die Daten nach verschiedenen Dimensionen gruppiert und aggregiert.

In [2]:
# Pivot-Tabelle erstellen: Durchschnittsgehalt pro Abteilung und Alter


#In diesem Beispiel würde die Pivottabelle das Durchschnittsgehalt für jede Kombination von Abteilung und Alter berechnen. 
#So kannst du auf einen Blick erkennen, wie sich das Gehalt nach Abteilungen und Altersgruppen aufteilt.

pivot_table = df.pivot_table(values='Gehalt', index='Abteilung', columns='Alter', aggfunc='mean')
pivot_table

Alter           22       23       28        35       45
Abteilung
HR         60000.0  70000.0      NaN       NaN      NaN
IT             NaN      NaN      NaN  120000.0  90000.0
Marketing      NaN      NaN  80000.0       NaN      NaN