[Zurück zum Inhaltsverzeichnis](_Inhaltsverzeichnis_.ipynb)

## Einschub Konkatenation

Konkatenation => zusammenfügen/-kleben, aneinanderreihen

In [11]:
# String Konkatenation 
"Peter" + " " + "Parker"

'Peter Parker'

In [12]:
# Listen Konkatenation 
[1,2,3] + [3,4,5]

[1, 2, 3, 3, 4, 5]

In [14]:
# Tuple Konkatenation

(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

Konkatenation erhält den Datentyp => str + str => str , list+list => list

In [15]:
"Peter"+ ["Parker"]

TypeError: can only concatenate str (not "list") to str

Kurzer Einschub zu Tuple

Ein Tuple wird entgegen des common wisdom nicht durch Klammern erstellt. 

Anders ausgedrückt => tuple werden durch Kommata erstellt NICHT durch Klammern. Ausser beim leeren Tuple, da machen die Klammern ein tuple

Das machen einige Bücher und Youtuber falsch.

In [16]:
a = (42)

In [17]:
type(a)

int

In [18]:
b = (42,23)

In [19]:
type(b)

tuple

In [20]:
c = 42,73,101

In [21]:
type(c)

tuple

Der Fehler rührt daher, dass viele Leute immer Tuple mit Klammern sehen. Und manchmal benötigt man die Klammern auch, da die Klammern das Tuple von anderem Code abgrenzt

In [23]:
print(1,2,3,4)

1 2 3 4

In [24]:
print((1,2,3),4)

(1, 2, 3) 4

Klammern dienen oft der Abgrenzung eines Tuples vom Rest des Codes. Wie oben in der Print Funktion

Abschliessend ein leeres Tuple kann man tatsächlich mit `()` erstellen

In [25]:
d = ()
print(type(d))

<class 'tuple'>

Frage: Was ist das Ergebnis von folgendem Ausdruck

In [26]:
(1,2,3)+(1023)

TypeError: can only concatenate tuple (not "int") to tuple

Wie kann man das retten.

In [28]:
e = (1023)

In [29]:
type(e)

int

In [30]:
f = (1023,)

In [31]:
type(f)

tuple

In [32]:
g = 1023,
type(g)

tuple

Man kann scheinbar tuple, list, str konkatenieren, was haben die den gemeinsam, gehören die vielleicht zu einer Gruppe? 


Ja `tuple`, `list`, `str` sind alle sogenannte `Sequenzen`

Sequenzen haben einige gemeinsame Operationen, die für alle Sequenzen gelten. 

Die Konkatenation ist nur eine davon. Alle besprechen, hier schon mal der [Link zu Python docs](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)