# Syllabus

Implement indexing methods and use vectorized functions for efficient data manipulation.

---

# grundlegende Methoden zur Implementierung von Indexierungsverfahren
Indexierung ist wichtig, um auf spezifische Daten in einem DataFrame zuzugreifen und diese zu manipulieren.

## Standard-Indexierung

**Zugriff auf eine Spalte:**

In [11]:
import pandas as pd

# Erstellen eines DataFrames
data = {
    'Name': ['Anna', 'Bernd', 'Clara'],
    'Alter': [28, 34, 22],
    'Stadt': ['Berlin', 'München', 'Hamburg']
}
df = pd.DataFrame(data)

# Zugriff auf die Spalte 'Name'
namen = df['Name']
namen

0     Anna
1    Bernd
2    Clara
Name: Name, dtype: object

## Zeilen-Indexierung

**Zugriff auf eine bestimmte Zeile:**

In [12]:
# Zugriff auf die erste Zeile (Index 0)
erste_zeile = df.iloc[0]
print(erste_zeile)

Name       Anna
Alter        28
Stadt    Berlin
Name: 0, dtype: object

## Bedingte Indexierung

**Zugriff auf Zeilen, die bestimmten Bedingungen entsprechen:**

In [13]:
# Zugriff auf alle Zeilen, in denen das Alter größer als 30 ist
aeltere_personen = df[df['Alter'] > 30]
print(aeltere_personen)

    Name  Alter    Stadt
1  Bernd     34  München

## Mehrdimensionale Indexierung

**Zugriff auf bestimmte Zeilen und Spalten:**

In [14]:
# Zugriff auf das Alter von Bernd (Index 1) 
bernd_alter = df.loc[1, 'Alter']
print(bernd_alter)

34

## Setzen von benutzerdefinierten Indizes

**Festlegen eines bestimmten Spaltenwertes als Index:**

In [15]:
# Setzen der Spalte 'Name' als Index
df.set_index('Name', inplace=True)
print(df)

       Alter    Stadt
Name
Anna      28   Berlin
Bernd     34  München
Clara     22  Hamburg

## Reset des Index

**Zurücksetzen des Index auf den Standard:**

In [16]:
# Zurücksetzen des Index
df.reset_index(inplace=True)
print(df)

    Name  Alter    Stadt
0   Anna     28   Berlin
1  Bernd     34  München
2  Clara     22  Hamburg

---
# Vektorisierte Funktionen

Vektorisierte Funktionen sind für die elementweise Berechnung auf Arrays oder DataFrames optimiert. 

Vektorisierung bedeutet: &nbsp; **Schleifen intern in C** ausgeführt werden<br>
-> bietet **deutliche Geschwindigkeitssteigerung** gegenüber ggü. Python-Schleifen

## NumPy-Verktorisierung

NumPy bietet eine leistungsstarke Möglichkeit, Vektorisierung in Python durchzuführen
bedeutet: Operationen auf Arrays können ohne explizite Schleifen ausgeführt werden. 
Dies führt zu schnelleren Berechnungen und ermöglicht es, den Code klarer und kompakter zu gestalten.

Original-Array:

In [39]:
import numpy as np

# Erstellen von NumPy-Arrays
a = np.array([1, 2, 3, 4])
b = np.array([10, 20, 30, 40])
print("Array a:", a)
print("Array b:", b)

Array a: [1 2 3 4]
Array b: [10 20 30 40]

### Vektorisierte Addition

Du kannst Arrays einfach addieren:

In [40]:
# Vektorisierte Addition
c = a + b
print("\nVektorisierte Addition a + b:", c)

Vektorisierte Addition a + b: [11 22 33 44]

### Vektorisierte Subtraktion

Subtraktionen sind ebenfalls einfach:

In [41]:
# Vektorisierte Subtraktion
d = b - a
print("Vektorisierte Subtraktion b - a:", d)

Vektorisierte Subtraktion b - a: [ 9 18 27 36]

### Vektorisierte Multiplikation und Division

Die Multiplikation und Division funktionieren ebenfalls vektorisert:

In [42]:
# Vektorisierte Multiplikation
e = a * b
print("Vektorisierte Multiplikation a * b:", e)

# Vektorisierte Division
f = b / a
print("Vektorisierte Division b / a:", f)

Vektorisierte Multiplikation a * b: [ 10  40  90 160]
Vektorisierte Division b / a: [10. 10. 10. 10.]

### 6. Vektorisierte Funktionen

Du kannst auch vektorisierte Funktionen von NumPy verwenden:

In [43]:
# Vektorisierte Funktion (z.B. Quadrat)
g = np.square(a)
print("Vektorisierte Funktion (Quadrat von a):", g)

# Vektorisierte Sinus-Funktion
h = np.sin(a)
print("Vektorisierte Sinus-Funktion von a:", h)

Vektorisierte Funktion (Quadrat von a): [ 1  4  9 16]
Vektorisierte Sinus-Funktion von a: [ 0.84147098  0.90929743  0.14112001 -0.7568025 ]

### Bedingte vektorisierte Operationen

NumPy unterstützt auch bedingte Operationen, die auf ganze Arrays angewendet werden können:

In [44]:
# Bedingte vektorisierte Operation
mask = a > 2
print("Bedingung (a > 2):", mask)

# Anwendung der Bedingung, um neue Werte zu erstellen
i = np.where(mask, a, 0)  # Setzt Werte kleiner oder gleich 2 auf 0
print("Ergebnisse basierend auf Bedingung:", i)

Bedingung (a > 2): [False False  True  True]
Ergebnisse basierend auf Bedingung: [0 0 3 4]

### 8. Aggregationen

Vektorisierte Aggregationsfunktionen sind ebenfalls verfügbar:

In [45]:
# Berechnung von Summe und Mittelwert
summe = np.sum(a)
mittelwert = np.mean(a)
print("Summe von a:", summe)
print("Mittelwert von a:", mittelwert)

Summe von a: 10
Mittelwert von a: 2.5

## Pandas-Vektorisierung

Vektorisierte Operationen auf einem DataFrame in Pandas ermöglichen es, Berechnungen auf ganzen Spalten oder Zeilen gleichzeitig durchzuführen,anstatt sie iterativ zu verarbeiten. 
Das verbessert die Leistung und Effizienz einer Datenanalyse erheblich.

Originaldataframe:

In [28]:
import pandas as pd

# Beispiel-Daten erstellen
data = {
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]
}
df = pd.DataFrame(data)
print('Original-Dataframe:')
df

Original-Dataframe:

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

### Vektorisierte Addition

Addition ganzer Spalten:

In [22]:
df['D'] = df['A'] + df['B']
print("\nNach Addition von Spalte A und B:")
df

Nach Addition von Spalte A und B:

   A   B    C   D
0  1  10  100  11
1  2  20  200  22
2  3  30  300  33
3  4  40  400  44

### Vektorisierte Subtraktion

Subtraktion funktioniert ebenfalls vektorisert:

In [30]:
# Vektorisierte Subtraktion
df['E'] = df['C'] - df['A']
print("\nNach Subtraktion von Spalte A von C:")
df

Nach Subtraktion von Spalte A von C:

   A   B    C    E
0  1  10  100   99
1  2  20  200  198
2  3  30  300  297
3  4  40  400  396

### Vektorisierte Multiplikation

Du kannst auch Multiplikationen in einer vektorisierten Weise durchführen:

In [34]:
# Vektorisierte Multiplikation
df['F'] = df['A'] * df['B']
print("\nNach Multiplikation von Spalte A und B:")
df

Nach Multiplikation von Spalte A und B:

   A   B    C    E    F
0  1  10  100   99   10
1  2  20  200  198   40
2  3  30  300  297   90
3  4  40  400  396  160

### Vektorisierte Funktionen

Pandas unterstützt auch die Anwendung von Funktionen auf ganze Spalten:

In [36]:
# Vektorisierte Anwendung einer Funktion (z.B. Quadrat)
df['G'] = df['A'].apply(lambda x: x**2)
print("\nNach Anwendung der Funktion (x^2) auf Spalte A:")
df

Nach Anwendung der Funktion (x^2) auf Spalte A:

   A   B    C    E    F   G
0  1  10  100   99   10   1
1  2  20  200  198   40   4
2  3  30  300  297   90   9
3  4  40  400  396  160  16

#### .apply()

- **`apply()`** Wendet eine Funktion auf jede Spalte oder Zeile an.

In [47]:
# Funktion auf eine Spalte anwenden
df['E'] = df['A'].apply(lambda x: x * 2)
df

   A   B    C  E    F   G       H
0  1  10  100  2   10   1  gering
1  2  20  200  4   40   4  gering
2  3  30  300  6   90   9    hoch
3  4  40  400  8  160  16    hoch

#### .map()

- **`map()`**: Wendet eine Funktion auf jedes Element einer Series an.

In [48]:
# map() auf eine Series anwenden
df['F'] = df['B'].map(lambda x: x + 3)
df

   A   B    C  E   F   G       H
0  1  10  100  2  13   1  gering
1  2  20  200  4  23   4  gering
2  3  30  300  6  33   9    hoch
3  4  40  400  8  43  16    hoch

#### .applymap()

- **`applymap()`**: Wendet eine Funktion auf jedes Element eines DataFrames an.

In [49]:
# applymap() auf den gesamten DataFrame anwenden
df = df.applymap(lambda x: x * 2)
df

C:\Users\Jens-\AppData\Local\Temp\ipykernel_26680\3260101458.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x * 2)

   A   B    C   E   F   G             H
0  2  20  200   4  26   2  geringgering
1  4  40  400   8  46   8  geringgering
2  6  60  600  12  66  18      hochhoch
3  8  80  800  16  86  32      hochhoch

### Bedingte vektorisierte Operationen

Du kannst vektorisierte Bedingungen verwenden, um neue Spalten zu erstellen:

In [37]:
# Erstellen einer neuen Spalte basierend auf einer Bedingung
df['H'] = df['A'].apply(lambda x: 'gering' if x < 3 else 'hoch')
print("\nNach Bedingung auf Spalte A:")
df

Nach Bedingung auf Spalte A:

   A   B    C    E    F   G       H
0  1  10  100   99   10   1  gering
1  2  20  200  198   40   4  gering
2  3  30  300  297   90   9    hoch
3  4  40  400  396  160  16    hoch