[Zurück zum Inhaltsverzeichnis](_Inhaltsverzeichnis_.ipynb)

# Datentypen

- Was passiert? (Funktion erklären)
- Was ist das? (Definition formulieren)
- Warum / Wie funktioniert das? (Hintergründe und Details)
  All, das Hand von sehr vielen Beispielen erklären

Hier hat uns Philipp am ersten Tag einen Überblick gegeben, was es so alles gibt:

In [25]:
alter = 25
name = "Julian"
gewicht_kg = 75
groesse_m = 1.90
bmi = round(gewicht_kg/(groesse_m**2),1)
warnung = bmi > 40

tuple_ = alter,name, gewicht_kg, groesse_m, 42
liste_ = [alter,name, gewicht_kg, groesse_m, 42]
set_ = {alter,name, gewicht_kg, groesse_m, 42}

dict_ = {"alter":alter, 
            "name":name, 
            "gewicht": gewicht_kg,
            "groesse": groesse_m, 
            "beste Zahl": 42}


print(type(alter), alter)
print(type(name), name)
print(type(gewicht_kg), gewicht_kg)
print(type(groesse_m), groesse_m)
print(type(bmi), bmi)
print(type(warnung), warnung)


print(name, "hat einen BMI von", bmi)

<class 'int'> 25
<class 'str'> Julian
<class 'int'> 75
<class 'float'> 1.9
<class 'float'> 20.8
<class 'bool'> False
Julian hat einen BMI von 20.8

### Was wollte Philipp uns damit sagen?

1. Es gibt unterschiedliche Klassen, aber dazukommen wir später noch.
2. Es gibt unterschiedliche TYPEN von Code.

Beispiele:

In [26]:
type(alter), alter

(int, 25)

`int` steht für Integer und ist der Datentyp für ganze Zahlen 1,2,3,4,5 etc...
(Integer ist nicht das gleiche wie Integral !!!)

In [28]:
type(name), name

(str, 'Julian')

`str` steht für String und ist der Datentyp für Text. "abcdefg123456!" Strings müssen IMMER in " " bzw. ' ' geschrieben werden. 


                                                                                                                          
Aber dazu mehr im Kapitel "Strings".

In [30]:
type(groesse_m), groesse_m

(float, 1.9)

`float` steht für Floating-Point-Number und ist der Datentyp für Gleitkommazahlen

In [52]:
type(tuple_) # Siehe Zusammenfassung unten

tuple

In [55]:
type(liste_) # Siehe Zusammenfassung unten

list

In [54]:
type(set_) # Siehe Zusammenfassung unten

set

In [53]:
type(dict_) # Siehe Zusammenfassung unten

dict

In [32]:
type(warnung), warnung

(bool, False)

`bool` steht für Boolean value und ist nach seinem Erfinder Gerge Boole bennant.                                     
Im Deutschen auch boolscher Wert gennant.                                
Er gibt an, ob etwas True/False (wahr/falsch) ist.

## Zusammenfassung Datentypen:

Datentypen definieren die Art und Weise, wie Daten in einem Programm gespeichert und manipuliert werden können. In Python gibt es verschiedene integrierte Datentypen wie Integer, Float, String, List, Tuple, Dictionary usw. Jeder Datentyp hat seine eigenen Eigenschaften und Methoden, die auf ihn angewendet werden können.

- Integer: Ganze Zahlen wie `5`, `-3`, `1000`.
- Float: Gleitkommazahlen wie `3.14`, `2.718`.
- String: Eine Sequenz von Zeichen, die in Anführungszeichen stehen, wie `"Hallo"`, `'Welt'`.
- Liste: Eine geordnete Sammlung von Elementen, die durch Kommas getrennt und in eckigen Klammern `[...]` dargestellt werden,  wie `[1, 2, 3]`.
- Tuple: Eine geordnete Sammlung von Elementen, die durch Kommas getrennt und in runden Klammern `(...)` dargestellt werden können, wie `(1, 'a', 3.14)`. DIE KOMMA MACHEN DAS TUPEL, NICHT DIE KLAMMER!!!
- Dictionary: Eine Sammlung von Schlüssel-Wert-Paaren, die durch geschweifte Klammern `{...}` dargestellt werden, wie `{'Name': 'John', 'Alter': 30}`.
- Set: Erklärung fehlt noch (eventuell so etwas ähnliches wie eine Liste, vielleicht eine Auswahl von etwas...?)

- Eine ungeordnete Sammlung von Elementen in der es keine Dupplikate gibt und die keine Indizes / keinen Index besitzt.

[Beispiel Set vs. Liste in Python Tutor:](https://pythontutor.com/render.html#code=liste_%20%3D%20%5B1,2,3,%22Hallo%22%5D%0A%0Aset_%20%3D%20%7B4,5,5,5,6,4,%22Hallo%22,%22dr%C3%B6lf%22,%20%22Schokokuchen%22,9,10%7D&cumulative=false&curInstr=2&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)


```python
# Beispiel für Datentypen
integer_variable = 5  # Integer
float_variable = 3.14  # Float
string_variable = "Hallo"  # String
list_variable = [1, 2, 3]  # Liste
tuple_variable = (1, 'a', 3.14)  # Tuple
dictionary_variable = {'Name': 'John', 'Alter': 30}  # Dictionary
```

# Erweiterung durch ChatGPT (PCAP)

## Welche Datentypen erzeugen welchen Fehler?

In [53]:
# Primitive Datentypen
int_value = 42
float_value = 3.14
complex_value = 1 + 2j
bool_value = True
str_value = "hello"

# Sequenzielle Datentypen
list_value = [1, 2, 3]
tuple_value = (1, 2, 3)
range_value = range(5)

# Mapping Datentypen
dict_value = {"key1": "value1", "key2": "value2"}

# Set Datentypen
set_value = {1, 2, 3}
frozenset_value = frozenset([1, 2, 3])

# Binäre Datentypen
bytes_value = b'hello'
bytearray_value = bytearray(b'hello')
memoryview_value = memoryview(b'hello')

# NoneType
none_value = None

# Ausgabe der Typen
print(type(int_value))
print(type(float_value))
print(type(complex_value))
print(type(bool_value))
print(type(str_value))
print(type(list_value))
print(type(tuple_value))
print(type(range_value))
print(type(dict_value))
print(type(set_value))
print(type(frozenset_value))
print(type(bytes_value))
print(type(bytearray_value))
print(type(memoryview_value))
print(type(none_value))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>