# Deskriptive Statistik
Dieses Notebook zeigt Beispiele für grundlegende deskriptive Statistiken.

Einstieg: [Wikipedia: deskriptive Statistik](https://de.m.wikipedia.org/wiki/Deskriptive_Statistik)

### Was ist eine deskriptive Statistik?

Die deskriptive (auch: beschreibende) Statistik hat zum Ziel, empirische Daten (z. B. Ergebnisse aus Experimenten, Messwerte) durch Tabellen, Kennzahlen (auch: Maßzahlen oder Parameter) und Grafiken übersichtlich darzustellen und zu ordnen.

### Was für Statistiken gibt es noch?

In der Statistik gibt es vier Hauptbereiche:

1. **Deskriptive Statistik**: Beschreibt Daten ohne Verallgemeinerungen auf eine größere Population zu machen.
2. **Explorative Statistik**: Sucht unbekannte Muster in den Daten und generiert neue Hypothesen.
3. **Induktive (schließende) Statistik**: Prüft Hypothesen basierend auf Stichprobendaten und wendet Wahrscheinlichkeitsmodelle an, um Aussagen über die Gesamtpopulation zu treffen.
4. **Inferenzstatistik**: Nutzt Stichproben, um Rückschlüsse auf die gesamte Population zu ziehen.

Deskriptive Statistik verwendet keine stochastischen Modelle, während die induktive und Inferenzstatistik auf diesen basieren und Fehlerwahrscheinlichkeiten berücksichtigen.

Einstieg: https://datatab.de/tutorial/deskriptive-inferenz-statistik


Was hat das mit der Grundgesamtheit und der Stichprobe auf sich?

![](inferenz_deskriptiv.png)

### Dichte der Daten:

In der deskriptive Statistik gibt es drei Methoden zur Datenpräsentation:

1. **Tabellen**: Daten in Zeilen und Spalten, bei großen Datensätzen schwer überschaubar.
2. **Diagramme**: Grafisch übersichtlich, aber oft mit Informationsverlust.
3. **Parameter**: Beschreiben Datenaspekte mit einzelnen Werten, mehrere Parameter nötig, um Informationsverlust auszugleichen.



| **Kriterium**          | **Tabelle** | **Diagramm** | **Parameter** |
|------------------------|-------------|--------------|---------------|
| Aggregation der Daten   | niedrig     | mittel       | hoch          |
| Übersichtlichkeit       | niedrig     | mittel       | hoch          |
| Informationsgehalt      | hoch        | mittel       | niedrig       |

## Daten
In diesem Beispiel betrachten wir eine fiktive Datentabelle mit den folgenden Variablen:
- **Alter** (in Jahren)
- **Einkommen** (in EUR pro Jahr)
- **Arbeitsstunden pro Woche**

In [2]:
import pandas as pd

# Beispiel-Daten
data = {
    'Alter': [23, 45, 31, 35, 50, 42, 29, 37, 33, 28],
    'Einkommen': [30000, 45000, 32000, 40000, 60000, 52000, 31000, 47000, 35000, 38000],
    'Arbeitsstunden_pro_Woche': [40, 50, 40, 38, 60, 55, 40, 48, 42, 45]
}

df = pd.DataFrame(data)
df

   Alter  Einkommen  Arbeitsstunden_pro_Woche
0     23      30000                        40
1     45      45000                        50
2     31      32000                        40
3     35      40000                        38
4     50      60000                        60
5     42      52000                        55
6     29      31000                        40
7     37      47000                        48
8     33      35000                        42
9     28      38000                        45

## Deskriptive Statistiken
Im nächsten Schritt berechnen wir einige grundlegende deskriptive Statistiken wie Mittelwert, Median, Standardabweichung usw.

In [3]:
# Deskriptive Statistiken
df.describe()

           Alter     Einkommen  Arbeitsstunden_pro_Woche
count  10.000000     10.000000                 10.000000
mean   35.300000  41000.000000                 45.800000
std     8.340663   9899.494937                  7.345445
min    23.000000  30000.000000                 38.000000
25%    29.500000  32750.000000                 40.000000
50%    34.000000  39000.000000                 43.500000
75%    40.750000  46500.000000                 49.500000
max    50.000000  60000.000000                 60.000000

## Interpretation der Ergebnisse
- **Mittelwert (mean):** Der durchschnittliche Wert jeder Spalte.
- **Standardabweichung (std):** Wie stark die Datenpunkte vom Mittelwert abweichen.
- **Minimum (min):** Der kleinste Wert jeder Spalte.
- **25% (1. Quartil):** 25% der Werte sind kleiner als dieser Wert.
- **Median (50%):** Der mittlere Wert der Daten. 50% der Werte liegen darunter, 50% darüber.
- **Maximum (max):** Der größte Wert jeder Spalte.


## Statistische Kennzahlen

Wie berechnet man die wichtigsten statistischen Kennzahlen?

In [1]:
# Berechnung von Mittelwert, Standardabweichung, Minimum, Quartil 25%, Median und Maximum
import numpy as np

# Beispiel-Zahlenliste
zahlen_liste = [10, 20, 30, 40, 50]

np_list = np.array(zahlen_liste)
print(f'Der Type des Objekts "np_list" ist: {type(np_list)}')


# Berechnung der Werte
mittelwert = np_list.mean()
print(f"Mittelwert: {mittelwert}")

median = np_list.

std = np_list.std()
print(f"Standardabweichung (gerundet): {std:.4f}")

minimum = np_list.min()
print(f"Minimum: {minimum}")

quartil_25 = np.percentile(np_list, 25)
print(f"25%-Quartil: {quartil_25}")
# Das 25. Perzentils ist der Wert, unterhalb dessen 25% der Datenpunkte liegen.

Der Type des Objekts "np_list" ist: <class 'numpy.ndarray'>
Mittelwert: 30.0
Standardabweichung (gerundet): 14.1421
Minimum: 10
25%-Quartil: 20.0