# Syllabus

Analyze datasets by grouping data using groupby and creating pivot/cross tables for enhanced data comprehension.

# Gruppierung mit `groupby`
`groupby` ermöglicht es, Daten nach bestimmten Kategorien zu gruppieren und darauf Aggregatfunktionen (z.B. **Mittelwert**, **Summe**, **Anzahl**) anzuwenden.

Dieses Beispiel gruppiert die Daten nach der Spalte `Kategorie` und berechnet den Mittelwert der Werte für jede Gruppe:

In [5]:
import pandas as pd

# Beispiel-Datensatz
daten = {'Kategorie': ['A', 'B', 'A', 'B', 'A', 'C'],
         'Wert': [10, 20, 10, 40, 50, 30]}

df = pd.DataFrame(daten)

# Gruppieren nach 'Kategorie' und Berechnung des Mittelwerts
gruppiert = df.groupby('Kategorie')['Wert'].mean()

gruppiert

Kategorie
A    23.333333
B    30.000000
C    30.000000
Name: Wert, dtype: float64

# Pivot-Tabellen

- leistungsfähiges Werkzeug zur Datenanalyse und -zusammenfassung
- häufig in Tabellenkalkulationsprogrammen wie Excel oder in Bibliotheken wie Pandas verwendet
- große Datensätze lassen sich strukturieren und verdichten, indem man die Daten nach verschiedenen Dimensionen gruppiert und aggregiert
- Daten werden zusammengefasst, indem man eine Matrix aus Zeilen- und Spaltenwerten erstellt (ähnlich wie in Excel)
- dabei können auch Aggregatfunktionen wie Summe oder Mittelwert verwendet werden


Hier wird eine Pivot-Tabelle erstellt, die den Umsatz nach `Region` und `Produkt` zusammenfasst:

In [8]:
# Beispiel-Datensatz
daten = {'Region': ['Nord', 'Süd', 'Nord', 'Süd', 'Ost', 'Ost'],
         'Produkt': ['A', 'A', 'B', 'B', 'A', 'B'],
         'Umsatz': [100, 200, 150, 300, 120, 180]}

df = pd.DataFrame(daten)

# Pivot-Tabelle erstellen
pivot = pd.pivot_table(df, values='Umsatz', index='Region', columns='Produkt', aggfunc='sum')

pivot

Produkt    A    B
Region
Nord     100  150
Ost      120  180
Süd      200  300

# Kreuztabellen (Häufigkeitstabelle für Kategorien)

Kreuztabellen sind nützlich, um die Verteilung von Kategorien in Bezug auf andere Kategorien zu untersuchen. Sie sind besonders praktisch, wenn du kategoriale Daten analysierst.

- spezielle Pivot-Tabellen
- häufig verwendet, um Häufigkeit von Kombinationen von Werten aus zwei verschiedenen Spalten darzustellen
- zeigen die Verteilung von Kategorien gegenüber anderen Kategorien

Die Kreuztabelle zeigt die Anzahl der Vorkommen von Produkten in verschiedenen Regionen:

In [9]:
# Kreuztabelle erstellen
kreuztabelle = pd.crosstab(df['Region'], df['Produkt'])

print(kreuztabelle)

Produkt  A  B
Region
Nord     1  1
Ost      1  1
Süd      1  1

# Beispiel

In [4]:
# Zunächst: Installiere und importiere Pandas und NumPy
import pandas as pd
import numpy as np

# Laden eines Beispiel-Datensatzes
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# Ausgabe der Spaltennamen
print("Spaltennamen des DataFrames:")
print(df.columns)


# Sicherstellen, dass alle Spalten angezeigt werden
# Sicherstellen, dass alle Spalten und alle Daten angezeigt werden
pd.set_option('display.max_columns', None)  # Alle Spalten anzeigen
pd.set_option('display.max_colwidth', None)  # Spaltenbreite anpassen
pd.set_option('display.expand_frame_repr', False)  # Verhindert Zeilenumbruch bei vielen Spalten

print(df.head())

print()
# **1. Subsetting und Sorting**

# Subsetting: Auswahl von spezifischen Spalten
df_subset = df[['Name', 'Age', 'Sex', 'Fare']]
print(df_subset.head())
print()
# Sorting: Sortieren nach Alterswerten
df_sorted = df_subset.sort_values(by='Age')
print(df_sorted.head())
print()
# **2. Grouping und Pivot-Tabellen**

# GroupBy: Durchschnittliches Fahrgeld (Fare) pro Geschlecht
grouped = df.groupby('Sex')['Fare'].mean()
print(grouped)
print()
# Pivot-Table: Zeigt den Durchschnitt der Fahrpreise in Bezug auf Geschlecht und Überleben
pivot_table = df.pivot_table('Fare', index='Sex', columns='Survived', aggfunc='mean')
print(pivot_table)
print()
# Cross-Tabelle: Häufigkeit der Überlebenden basierend auf Geschlecht
cross_tab = pd.crosstab(df['Sex'], df['Survived'])
print(cross_tab)
print()
# **3. Deskriptive Statistik mit Pandas und NumPy**

# Deskriptive Statistik mit Pandas
print(df['Fare'].describe())
print()
# Deskriptive Statistik mit NumPy
mean_fare = np.mean(df['Fare'])
std_fare = np.std(df['Fare'])
print(f"Mean Fare: {mean_fare}, Standard Deviation Fare: {std_fare}")
print()

Spaltennamen des DataFrames:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
   PassengerId  Survived  Pclass                                                 Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                              Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                               Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                             Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

                                                  Name   Age     Sex     Fare
0                              Braund, Mr. Owen Harris  22.0    male   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  38.0  female  71.2833
2                               Heikkinen, Miss. Laina  26.0  female   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female  53.1000
4                             Allen, Mr. William Henry  35.0    male   8.0500

                                Name   Age     Sex     Fare
803  Thomas, Master. Assad Alexander  0.42    male   8.5167
755        Hamalainen, Master. Viljo  0.67    male  14.5000
644           Baclini, Miss. Eugenie  0.75  female  19.2583
469    Baclini, Miss. Helene Barbara  0.75  female  19.2583
78     Caldwell, Master. Alden Gates  0.83    male  29.0000

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

Survived          0          1
Sex
female    23.024385  51.938573
male      21.960993  40.821484

Survived    0    1
Sex
female     81  233
male      468  109

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

Mean Fare: 32.204207968574636, Standard Deviation Fare: 49.6655344447741