# Grouping mit df.groupby()

Grouping bezieht sich auf die Gruppierung von Daten nach bestimmten Kategorien zur Berechnung aggregierter Statistiken.

In [2]:
import pandas as pd

# Beispiel-Datensatz
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Alter': [23, 35, 45, 28, 22],
        'Gehalt': [70000, 120000, 90000, 80000, 60000],
        'Abteilung': ['HR', 'IT', 'IT', 'Marketing', 'HR']}

df = pd.DataFrame(data)

# Subsetting: Nur bestimmte Spalten anzeigen
df_subset = df[['Name', 'Gehalt']]
df_subset

      Name  Gehalt
0    Alice   70000
1      Bob  120000
2  Charlie   90000
3    David   80000
4      Eva   60000

In [3]:
# Gruppieren nach Abteilung und Durchschnittsgehalt berechnen
df_grouped = df.groupby('Abteilung')['Gehalt'].mean()
df_grouped

Abteilung
HR            65000.0
IT           105000.0
Marketing     80000.0
Name: Gehalt, dtype: float64

In [5]:
# Gruppieren nach Abteilung Standardabweichung berechnen
df_grouped = df.groupby('Abteilung')['Gehalt'].std()
df_grouped

Abteilung
HR            7071.067812
IT           21213.203436
Marketing             NaN
Name: Gehalt, dtype: float64